 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>keeping your space unique since 2016</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Raines Ironworks specializes in the fusion of steel, copper, brass, zinc, and wood to take your ideas to the next level. Handmade range hoods, firescreens, sinks, fire pits, gates. Anything you can imagine, Raines Ironworks can build it.</p>
                </div>
                <div class="col-lg-4">
                    <p>This is a terrific place for some placeholder text, placeholding the place so something better can fill it.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <!--i class="fa fa-download"></i> Shop-->
                        Shop
                    </a>
                </div>
            </div>
        </div>
    </section>
