 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>keeping your space unique since 2016</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Raines Ironworks makes a wide range of artisan products for your home. Specializing in steel, iron, stainless steel, copper, and wood we can custom build a kitchen range hood, sinks or a coffee table. Even wall art that doubles as a planter. </p>
                </div>
                <div class="col-lg-4">
                    <p>Need something outdoors? Awesome. Raines Ironworks also makes custom gates, fire screens, and even unique planters and fire pits. Whatever special piece you need to complete your space, Raines Ironworks can build it.</p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Shop>
                        Shop
                    </a>
                </div-->
            </div>
        </div>
    </section>
