<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--img class="img-responsive" src="img/profile.png" alt="profile-pic" /-->
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <a class="site-logo-lg" href="{{ '/' | relative_url }}"><img src="img/circle_logo.png" alt=""></a>
          <!--hr class="star-light" /-->
          <span class="skills">{{ site.skills }}</span></br>
          <span class="skills">hand made in the USA</span>
        </div>
      </div>
    </div>
  </div>
</header>
